
h2{
     
    font-family: fantasy;
    font-size: 150%;
    }

p{
    padding: 3%;
font-weight: bolder;
font-size: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: justify;
}

h3{
    color: black;
    font-family: fantasy;
    text-align: center;